#################################
# OS / Editor
#################################
.DS_Store
*.swp
*.swo
*.tmp

#################################
# R / Python / Conda
#################################
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
.env
.venv/
renv/library/
renv/python/
renv/staging/

#################################
# Logs & intermediate files
#################################
*.log
*.out
*.err
*.bak

#################################
# Large & non-code artifacts
#################################
*.pdf
*.docx
*.pptx
*.xlsx
*.csv
*.tsv
*.zip
*.tar.gz
*.rds
*.html
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.js
*.txt
*.bed
*.bam
*.bai
*.vcf
*.fasta
*.fastq
*.fq
*.RData
*.gif
*.ico


#################################
# Figures & results (default ignore)
#################################
figures/
plots/
results/
output/
reports/
data/
analysis/
resources/

#################################
#if you have some approved exceptions, list them here
#################################
*.pdf
!manuscript_pdfs/*.pdf